Repository CDSL-SOFTWARE-PRODUCTION/lean-wms: changes, and which lint-staged commands are due for each by the changed paths.
All: eslint --fix, prettier --write, cargo fmt

fix: cải thiện quản lý repo bằng monorepo
  apps/api/package.json
  apps/client-web/package.json
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  doc/CONTRIBUTING.md
  package.json
  packages/core/package.json
  turbo.json
Due: prettier --write

add: bổ sung docker ignore, docker file và config để build api và web-app
  .dockerignore
  Cargo.toml
  apps/api/Dockerfile
  apps/api/env.example
  apps/api/src/config.rs
  apps/api/src/main.rs
  apps/client-web/.env.example
  apps/client-web/Dockerfile
  apps/client-web/nginx.conf
  apps/client-web/src/utils/rspc.ts
  docker-compose.yml
Due: eslint --fix, prettier --write, cargo fmt

fix: sửa cấu hình config ts, update prd, update cargo
  Cargo.lock
  PRD.md
  apps/api/Cargo.toml
  apps/api/src/bin/seed.rs
  apps/api/src/services/mod.rs
  apps/api/src/services/sync.rs
  apps/client-web/eslint.config.js
  apps/client-web/src/App.tsx
  apps/client-web/src/providers/AuthProvider.tsx
  apps/client-web/src/store/slices/ordersSlice.ts
  apps/client-web/src/store/slices/productsSlice.ts
  apps/client-web/tsconfig.app.json
  apps/client-web/tsconfig.json
  apps/client-web/tsconfig.node.json
  apps/mobile/eslint.config.js
  apps/mobile/tsconfig.json
  docker-compose.yml
  package.json
  packages/core/package.json
  packages/core/src/bindings.ts
  packages/core/tsconfig.json
Due: eslint --fix, prettier --write, cargo fmt

fix: sửa doc
  CHANGELOG.md
  README.md
  doc/ARCHITECTURE.md
  doc/api/README.md
  doc/architecture/ARCHITECTURE.md
  doc/architecture/BLUEPRINT_BACKEND.md
  doc/architecture/BLUEPRINT_FRONTEND.md
  doc/architecture/BLUEPRINT_OVERVIEW.md
  doc/architecture/adr/0001-record-architecture-decisions.md
  doc/archive/illustration/architecture-diagram.txt
  doc/archive/illustration/plantuml-diagram-backend.txt
  doc/archive/illustration/plantuml-diagram-ui.txt
  doc/guides/AUDIT_BEST_PRACTICES.md
  doc/guides/CONTRIBUTING.md
  doc/guides/DEVOPS_GUIDE.md
  doc/guides/TESTING.md
  doc/planning/PROJECT_PLAN.md
  doc/planning/ROADMAP.md
  doc/requirements/PRD.md
Due: prettier --write

fix: dịch doc sang tiếng Việt
  doc/api/README.md
  doc/architecture/ARCHITECTURE.md
  doc/architecture/BLUEPRINT_OVERVIEW.md
  doc/guides/AUDIT_BEST_PRACTICES.md
  doc/guides/DEVOPS_GUIDE.md
  doc/guides/TESTING.md
  doc/planning/PROJECT_PLAN.md
Due: prettier --write

feat: sửa ci/cd
  .github/workflows/cd.yml
  .github/workflows/ci.yml
  .gitignore
  .npmrc
  apps/client-web/.gitignore
  apps/mobile/.npmrc
  apps/mobile/app.json
  apps/mobile/package.json
  apps/mobile/tsconfig.json
  doc/guides/CONTRIBUTING.md
  doc/guides/DEVOPS_GUIDE.md
  doc/guides/TESTING.md
  package.json
  pnpm-lock.yaml
Due: prettier --write

fix: sửa cd và info app mobile
  .github/workflows/cd.yml
  apps/mobile/app.json
Due: prettier --write

fix: sửa cd
  .github/workflows/cd.yml
Due: prettier --write

fix: Stabilization (Infrastructure & DevExp) - audit docker compose và varified health check - review CI/CD
  apps/mobile/eas.json
  apps/mobile/package.json
  pnpm-lock.yaml
Due: prettier --write

fix: hoàn thành Stabilization (Infrastructure & DevExp)
  .github/workflows/cd.yml
  apps/api/Dockerfile
  doc/guides/RELEASE_PROCESS.md
  doc/planning/PROJECT_PLAN.md
  doc/planning/ROADMAP.md
  docker-compose.yml
  pnpm-lock.yaml
Due: prettier --write

add: Mobile MVP Definition & Execution
  Cargo.lock
  apps/api/Cargo.toml
  apps/api/Dockerfile
  apps/mobile/App.tsx
  apps/mobile/package.json
  apps/mobile/src/navigation/AppNavigator.tsx
  apps/mobile/src/navigation/AuthNavigator.tsx
  apps/mobile/src/navigation/types.ts
  apps/mobile/src/screens/auth/LoginScreen.tsx
  apps/mobile/src/screens/home/HomeScreen.tsx
  apps/mobile/src/services/api.ts
  apps/mobile/src/services/auth.ts
  apps/mobile/src/store/slices/authSlice.ts
  doc/guides/GITHUB_PROJECT_SETUP.md
  doc/planning/PROJECT_PLAN.md
  pnpm-lock.yaml
  scripts/create_test_user.ps1
Due: eslint --fix, prettier --write

fix: sửa doc để giảm doc phải đọc
  README.md
  doc/archive/AUDIT_BEST_PRACTICES.md
  doc/archive/BLUEPRINT_OVERVIEW.md
  doc/archive/GITHUB_PROJECT_SETUP.md
  doc/archive/PROJECT_PLAN.md
  doc/guides/CONTRIBUTING.md
  doc/guides/DEVOPS_GUIDE.md
  doc/guides/RELEASE_PROCESS.md
Due: prettier --write

add: core logic client-side inventory
  packages/core/src/index.ts
  packages/core/src/inventory/index.ts
  packages/core/src/location/index.ts
  packages/core/src/types/index.ts
  packages/core/src/validation/barcode.ts
Due: eslint --fix, prettier --write

fix: update doc
  CHANGELOG.md
  doc/architecture/ARCHITECTURE.md
  doc/architecture/adr/0002-backend-architecture-blueprint.md
  doc/architecture/adr/0003-frontend-architecture-blueprint.md
  doc/archive/BLUEPRINT_BACKEND.md
  doc/archive/BLUEPRINT_FRONTEND.md
  doc/archive/ROADMAP.md
Due: prettier --write

docs: Establish foundational project documentation including PRD, backend README, and architecture blueprints.
  doc/architecture/ARCHITECTURE.md
  doc/architecture/adr/0002-backend-architecture-blueprint.md
  doc/backend/README.md
  doc/guides/CONTRIBUTING.md
  doc/guides/DEVOPS_GUIDE.md
  doc/guides/RELEASE_PROCESS.md
  doc/guides/TESTING.md
  doc/requirements/PRD.md
Due: prettier --write

update docs
  .env
  doc/architecture/ARCHITECTURE.md
  doc/architecture/adr/0004-offline-sync-strategy.md
  doc/architecture/adr/0005-row-level-security.md
  note.txt
Due: prettier --write

add: init expo with supabase
  .vscode/settings.json
  my-app/.env
  my-app/.gitignore
  my-app/App.tsx
  my-app/app.json
  my-app/assets/adaptive-icon.png
  my-app/assets/favicon.png
  my-app/assets/icon.png
  my-app/assets/splash-icon.png
  my-app/index.ts
  my-app/lib/supabase.ts
  my-app/package-lock.json
  my-app/package.json
  my-app/tsconfig.json
Due: eslint --fix, prettier --write

add: add legendapp state for local first development and mork schema data for supabase
  my-app/.gitignore
  my-app/App.tsx
  my-app/components/InboundScreen.tsx
  my-app/lib/store.ts
  my-app/package-lock.json
  my-app/package.json
  my-app/supabase/.gitignore
  my-app/supabase/config.toml
  my-app/supabase/migrations/20260122155255_create_products_table.sql
Due: eslint --fix, prettier --write

add: tamstack webapp for client dashboard
  my-app/package-lock.json
  my-app/package.json
  web-app/.cta.json
  web-app/.gitignore
  web-app/.vscode/settings.json
  web-app/README.md
  web-app/biome.json
  web-app/package-lock.json
  web-app/package.json
  web-app/public/favicon.ico
  web-app/public/logo192.png
  web-app/public/logo512.png
  web-app/public/manifest.json
  web-app/public/robots.txt
  web-app/public/tanstack-circle-logo.png
  web-app/public/tanstack-word-logo-white.svg
  web-app/src/components/Header.tsx
  web-app/src/data/demo.punk-songs.ts
  web-app/src/logo.svg
  web-app/src/routeTree.gen.ts
  web-app/src/router.tsx
  web-app/src/routes/__root.tsx
  web-app/src/routes/demo/api.names.ts
  web-app/src/routes/demo/start.api-request.tsx
  web-app/src/routes/demo/start.server-funcs.tsx
  web-app/src/routes/demo/start.ssr.data-only.tsx
  web-app/src/routes/demo/start.ssr.full-ssr.tsx
  web-app/src/routes/demo/start.ssr.index.tsx
  web-app/src/routes/demo/start.ssr.spa-mode.tsx
  web-app/src/routes/index.tsx
  web-app/src/styles.css
  web-app/tsconfig.json
  web-app/vite.config.ts
Due: eslint --fix, prettier --write

fix: resolve high severity vulnerabilities
  my-app/package-lock.json
  my-app/package.json
  web-app/package-lock.json
  web-app/package.json
  web-app/src/routes/index.tsx
  web-app/src/utils/supabase.ts
Due: eslint --fix, prettier --write

add: local first data on expo
  doc/architecture/ARCHITECTURE.md
  doc/archive/00_READ_ME_DEPRECATED.md
  my-app/App.tsx
  my-app/components/TodoDemo.tsx
  my-app/lib/database.type.ts
  my-app/lib/supalegend.ts
  my-app/package-lock.json
  my-app/package.json
  my-app/supabase/migrations/20260123050046_init.sql
  web-app/package-lock.json
  web-app/package.json
Due: eslint --fix, prettier --write

docs: update techstack
  doc/architecture/ARCHITECTURE.md
  doc/architecture/adr/0002-backend-architecture-blueprint.md
  doc/architecture/adr/0003-frontend-architecture-blueprint.md
  doc/architecture/adr/0004-offline-sync-strategy.md
  doc/requirements/PRD.md
Due: prettier --write

Path conditions:
  eslint --fix: any of: *.{ts,tsx}
  prettier --write: (any of: *.{ts,tsx}) or (any of: *.{json,md,yml,yaml})
  cargo fmt: any of: *.rs
